.productContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.productColletionWrapper {
  display: flex;
  flex-direction: row;
}

.productCollection {
  display: flex;
  margin: 0;
  padding: 0;
  width: 78%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.subtitle {
  font-size: 26px;
  text-transform: uppercase;
}

/** Single product */

.singleProduct {
  width: 250px;
  height: 350px;
  /* outline: 4px solid #f8f8ff;
  outline-offset: -4px; */
  border: 4px solid #f8f8ff;
}

.singleProduct__image img {
  width: 250px;
  height: 200px;
}

.singleProduct__Info {
  margin-top: 5px;
}

.singleProduct__Info h3 {
  font-size: 20px;
  height: 50px;
}
