.some-top-bar {
  margin-right: 5px;
}

.fb {
  color: #4267b2;
}
.fb:hover {
  color: #4267b2;
}

.ig {
  color: #c13584;
}
.ig:hover {
  color: #c13584;
}

.tw {
  color: #1da1f2;
}
.tw:hover {
  color: #1da1f2;
}

.yt {
  color: #ff0000;
}

.pint {
  color: #e60023;
}

.tt {
  color: #010101;
}

.yt:hover {
  color: #ff0000;
}

.pint:hover {
  color: #e60023;
}

.tt:hover {
  color: #010101;
}

.dropdown-toggle::after {
  display: none !important;
}

.nav-dropdown-btn button {
  background-color: #f8f8ff;
  color: #1f1f1f;

  font-size: 18px;

  border-radius: 0;
  outline: none;
  border: none;
  border-bottom: 2px solid #f8f8ff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.dropdown-toggle {
  background-color: #f8f8ff !important;
  color: #1f1f1f !important;
  box-shadow: none !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  border-bottom: 2px solid #1f1f1f !important;
}

.nav-dropdown-btn button:active {
  background-color: #f8f8ff;
  color: #1f1f1f;
  border-bottom: 2px solid #1f1f1f;
}

.nav-dropdown-btn button:hover {
  background-color: #f8f8ff;
  color: #1f1f1f;
  border-bottom: 2px solid #1f1f1f;
}

.nav-dropdown-btn:not(:first-child) {
  margin-left: 20px;
}

#sale {
  font-weight: 500;
  color: red !important;
}

#sale:hover {
  font-weight: 500;
  color: red !important;
}

#cart-btn {
  border: none;
  width: 70px;
}

#cart-btn:active,
#cart-btn:focus,
#cart-btn:hover {
  border: none !important;
}

.filterWrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-color: gray;
  border: 1px solid black;
}

.cart-nav-item {
  width: 320px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.cart-nav-item-image img {
  height: 100px;
  width: auto;
}

.cart-nav-item-text {
  width: 200px;
  margin-left: 10px;
}

.cart-nav-item-text p {
  margin: 0;
  padding: 0;
}
